---
import '../app.css';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Jan Silhan - cover letter">
  <header class="pb-10">
    <nav
      class="shadow-sm fixed top-5 left-1/2 -translate-x-1/2 border border-gray-200 rounded-2xl flex"
    >
      <a
        href="#about"
        class="py-1 px-4"
        >About</a
      >
      <a
        href="#test"
        class="py-1 px-4 border-l border-gray-200"
        >Test</a
      >
    </nav>
  </header>
  <main>
    <div id="about">Something here</div>
  </main>
  <aside class="fixed right-0 border-l h-full top-0 p-8 min-w-60">
    <h2>Jan Silhan</h2>
  </aside>
</Layout>
